/* 
    Document   : layout
    Created on : May 29, 2010, 2:47:35 PM
    Author     : Nomad
    Description:
        Purpose of the stylesheet follows.
*/
body{
    /*font-family: Helvetica;
    color: #000;
    margin: 0;*/
    font: normal 14px Verdana, arial, helvetica, sans-serif;
    color: #000;
    margin: 0;
	/*background-color: #9cb694;
	background-image: url(../images/backgroundGreen.jpg);
	background-repeat: repeat-x;*/
}

root { 
    display: block;
}
#frame{
 margin: 0 auto;
 padding: 0;
 width: 1024px;
}

.preload{
	display:none;
}
/*Main Page*/

 .topBar{
    height: 5px;
    position: relative;
    background-color: black;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
  .bottomBar{
    height: 5px;
    position: relative;
    background-color: black;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.header{
    width:1024px;
    height:430px;
}


.banner{
    width:1024px;
    height:80px;
    /*background: url(../images/bannerMin.jpg);*/
	background: #12268a;
	font-size:60px;
	color:#FFFFFF;
}


.navBar{
    width:1024px;
    height:100px;
	/*background: url(../images/nav_background.jpg) repeat-x;*/
    background: #12268a;/*blue, gree#n70C556*/
    /*background: #196CAC;*/
}

.navBox{
	background: url(../images/whiteNavBox.jpg);
    position: relative;
    width:120px;
    height: 60px;
    float: left;
    border: 2px solid;
    margin-top: 22px;
    margin-bottom: 8px;
    margin-left: 6.5%;
	font-size: 1.4em;
	text-align:center;
}
.navBox div{
	margin-top:15px;
}
/*.navBox :hover{
    cursor: pointer;
}*/
.navBoxHover{
    position: relative;
    width:180px;
    height: 130px;
    float: left;
    border: 2px solid;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12%;
    background: #C9B385;
}

.titleName{
    font-size: 40px;
    display: inline;
    height:100%;
}
.titlePic{
    position: relative;
    float: right;
    height:100%;
    border: 1px solid;
}




.content{
    width: 1024px;
    height: 426px;
    margin-left: 10px;
    margin-right: 10px;
}

.content .contentHeader{
	width:100%;
	margin-bottom: 10px;
}

.content .contentLeft{
	/*border: 1px solid;*/
    height: 350px;
    width: 45%;
}
.content .contentRight{
	/*border: 1px solid;*/
    float: right;
    height: 350px;
    margin-right: 20px;
    width: 45%;
}
.content .divider{
	/*border: 1px solid;*/
    height: 350px;
    margin-left: 37px;
    width: 10px;
	background:url(../images/divider.gif);
}

.content .contentRight .flower{
	position: absolute;
    right: -20px;
    top: 145px;
}
#rsvpContent{

}

.chocoBox{
	/* chocolate box cufon */
}
/*Title bar*/
#logo{
    width: 100px;
    height: 50px;
    padding: 5px;
    font-size: 14pt;
}


.point {
    cursor: pointer;
    background: #C9B385;
}

.bigText{
    font-size: 48px;
    text-transform: uppercase;
}
.text{
	font-size:1.2em;
	width:100%;
}
.thumbnail{
	float:left;
	width:100px;
	height:100px;
	border: 2px solid #666666;
	margin-left: 55px;
	margin-top: 20px;
	opacity:0.8; filter:alpha(opacity=80);
}
.thumbnail:hover{
	cursor: pointer;
	opacity:1.0; filter:alpha(opacity=100);
}


#credits{
	float:right;
	font-size:.8em;
	margin-top:20px;
	margin-right:70px;
}

/*RSVP Form*/
form{
	margin-left: 80px;
	margin-top:20px;
}
fieldset{
 	border:none;
}
 
input{
 	margin-bottom: 5px;
}
 
#submitRSVP{
	margin-top:10px;	
	/*margin-left:225px;*/
}

#checkBoxes{
	width:100%;
}

.formLabel{
	margin-left:10px;
	margin-right:5px;
	width:130px;
	float:none;
}
.required{
    height: 16px;
    width: 16px;
    color: red;
    float: right;
    font-weight: bold;
}
.requiredField{
	background-color: #F3F5C9;
}
.requiredCheckBoxes{
	border: 1px dashed red;
}
.notRequiredCheckBoxes{
	border: 1px dashed #FFFFFF;
}
.dither{
	color: #9B9B9B;
}
.formUnderline{
	border-top: 1px solid black;
	width: 100%;
	height:1px;
	margin: 5px 0 0 0;
}

.line{
 	display:inline-table;
 	width:248px;
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
}
 
.checkbox{
	margin-left:10px;
}

.loading{
	height:400px; 
	overflow: auto; 
	text-align: center;
	margin-left: 120px;
	margin-top:20px;
}
.success{
	display:none;
	height:400px; 
	overflow: auto; 
	text-align: center;
	margin-top:20px;
	margin-left: 80px;
}

.phoneNumber{
    width: 292px;
    height: 90px;
    margin-top: 60px;
    margin-left: 80px;
	/*border: 1px solid;*/
    font-size: 1.5em;
}
.phoneNumber .number{
	margin-top: 30px;
    text-align: center;
    width: 100%;
}
.phoneNumber .underline{
	border-top: 1px solid black;
    height: 1px;
    margin-left: 45px;
    width: 200px;
}
