/* 
    Document   : layout
    Created on : May 29, 2010, 2:47:35 PM
    Author     : Nomad
    Description:
        Purpose of the stylesheet follows.
*/
body{
    /*font-family: Helvetica;
    color: #000;
    margin: 0;*/
    font: normal 14px Verdana, arial, helvetica, sans-serif;
    color: #000;
    margin: 0;
    /*background: url(../images/background.jpg) repeat;*/
}

root { 
    display: block;
}
#frame{
 margin: 0 auto;
 padding: 0;
 width: 1024px;
}

/*Main Page*/

 .topBar{
    height: 5px;
    position: relative;
    background-color: black;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
  .bottomBar{
    height: 5px;
    position: relative;
    background-color: black;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.header{
    width:1024px;
    height:430px;
}


.banner{
    width:1024px;
    height:80px;
    background: url(../images/bannerMin.jpg);
}


.navBar{
    width:1024px;
    height:180px;
    background: #194E76;
    /*background: #196CAC;*/
}

.navBox{
    position: relative;
    width:120px;
    height: 120px;
    float: left;
    border: 2px solid;
    margin-top: 22px;
    margin-bottom: 8px;
    margin-left: 10.5%;
    background: white;
	font-size: 1.4em;
}
/*.navBox :hover{
    cursor: pointer;
}*/
.navBoxHover{
    position: relative;
    width:180px;
    height: 130px;
    float: left;
    border: 2px solid;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12%;
    background: #C9B385;
}

.titleName{
    font-size: 40px;
    display: inline;
    height:100%;
}
.titlePic{
    position: relative;
    float: right;
    height:100%;
    border: 1px solid;
}




.content{
    width: 1024px;
    height: 426px;
    margin-left: 10px;
    margin-right: 10px;
}

.contentHeader{
	width:100%;
	margin-bottom: 10px;
}

#rsvpContent{

}
/*Title bar*/
#logo{
    width: 100px;
    height: 50px;
    padding: 5px;
    font-size: 14pt;
}


.point {
    cursor: pointer;
    background: #C9B385;
}

.bigText{
    font-size: 48px;
    text-transform: uppercase;
}
.text{
	font-size:1.2em;
	width:100%;
}
.thumbnail{
	float:left;
	width:100px;
	height:100px;
	border: 2px solid #666666;
	margin-left: 55px;
	margin-top: 20px;
	opacity:0.8; filter:alpha(opacity=80);
}
.thumbnail:hover{
	cursor: pointer;
	opacity:1.0; filter:alpha(opacity=100);
}


#credits{
	float:right;
	font-size:.8em;
	margin-top:20px;
	margin-right:70px;
}

/*RSVP Form*/
fieldset{
 	border:none;
}
 
input{
 	margin-bottom: 5px;
}
 
#submitRSVP{
	margin-top:10px;	
	margin-left:225px;
}

.formLabel{
	margin-left:10px;
	margin-right:5px;
	width:130px;
	float:none;
}
 
.line{
 	display:inline-table;
 	width:248px;
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
}
 
.checkbox{
	margin-left:10px;
}

.loading{
	height:400px; 
	overflow: auto; 
	text-align: center;
	margin-left:40px;
}
.success{
	display:none;
	height:400px; 
	overflow: auto; 
	text-align: center;
	margin:5px 0px 0px 15px;
}
