/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:635px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}


	
#pictureOverlay_01 {
		background-image:url(../images/gallery/01.jpg);
		width:400px;
		height:600px;
		padding:0px;
}
#pictureOverlay_02 {
		background-image:url(../images/gallery/02.jpg);
		width:800px;
		height:534px;
		padding:0px;
}
#pictureOverlay_03 {
		background-image:url(../images/gallery/03.jpg);
		width:400px;
		height:600px;
		padding:0px;
}
#pictureOverlay_04 {
		background-image:url(../images/gallery/04.jpg);
		width:492px;
		height:600px;
		padding:0px;
}
#pictureOverlay_05 {
		background-image:url(../images/gallery/05.jpg);
		width:800px;
		height:534px;
		padding:0px;
}
#pictureOverlay_06 {
		background-image:url(../images/gallery/06.jpg);
		width:800px;
		height:534px;
		padding:0px;
}
#pictureOverlay_07 {
		background-image:url(../images/gallery/07.jpg);
		width:400px;
		height:600px;
		padding:0px;
}
#pictureOverlay_08 {
		background-image:url(../images/gallery/08.jpg);
		width:400px;
		height:600px;
		padding:0px;
}
#pictureOverlay_09 {
		background-image:url(../images/gallery/09.jpg);
		width:400px;
		height:600px;
		padding:0px;
}
#pictureOverlay_10 {
		background-image:url(../images/gallery/10.jpg);
		width:800px;
		height:534px;
		padding:0px;
}
#pictureOverlay_11 {
		background-image:url(../images/gallery/11.jpg);
		width:800px;
		height:534px;
		padding:0px;
}
#pictureOverlay_12 {
		background-image:url(../images/gallery/12.jpg);
		width:600px;
		height:400px;
		padding:0px;
}
/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../overlay/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
	right:-17px;
	top:-17px;
}
